<!DOCTYPE html>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/ZeroClipboard.min.js"></script>
    <script>
(function($) {
  var defaults;
  $.event.fix = (function(originalFix) {
    return function(event) {
      event = originalFix.apply(this, arguments);
      if (event.type.indexOf('copy') === 0 || event.type.indexOf('paste') === 0) {
        event.clipboardData = event.originalEvent.clipboardData;
      }
      return event;
    };
  })($.event.fix);
  defaults = {
    callback: $.noop,
    matchType: /image.*/
  };
  return $.fn.pasteImageReader = function(options) {
    if (typeof options === "function") {
      options = {
        callback: options
      };
    }
    options = $.extend({}, defaults, options);
    return this.each(function() {
      var $this, element;
      element = this;
      $this = $(this);
      return $this.bind('paste', function(event) {
        var clipboardData, found;
        found = false;
        clipboardData = event.clipboardData;
        return Array.prototype.forEach.call(clipboardData.types, function(type, i) {
          var file, reader;
          if (found) {
            return;
          }
          if (type.match(options.matchType) || clipboardData.items[i].type.match(options.matchType)) {
            file = clipboardData.items[i].getAsFile();
            reader = new FileReader();
            reader.onload = function(evt) {
              return options.callback.call(element, {
                dataURL: evt.target.result,
                event: evt,
                file: file,
                name: file.name
              });
            };
            reader.readAsDataURL(file);
            return found = true;
          }
        });
      });
    });
  };
})(jQuery);

$('html').pasteImageReader(function(results) {
  var dataURL, filename;
  filename = results.filename, dataURL = results.dataURL;

  $.ajax({
    data: {img: dataURL},
    type: 'POST',
    success: function(data) {
      data = $.parseJSON(data);
      $('#result').html(data.url)
      $('#copy-button').attr('data-clipboard-text', data.url)
      console.log(data)
    }
  });

  return $('body').css({
    backgroundImage: 'url(' + dataURL + ')'
  });
});
    </script>
  </head>
  <body>
    <div id="result">link will be here</div>
    <button id="copy-button" data-clipboard-text="none" >Copy to Clipboard</button>
  </body>
  <script>
    var clip = new ZeroClipboard(document.getElementById("copy-button"), {
      moviePath: "/static/ZeroClipboard.swf"
    });
  </script>
</html>
